// Here you can add other styles

.form-group {
    > label {
        font-weight: 700;
        font-size: 85%;
        color: #777;
        text-transform: uppercase;
    }

    > label.required::after {
        content: '*';
        color: #f86c6b !important;
        margin-left: 5px;
    }
}